

@import "tailwindcss";

.active hr{
    @apply block
   
}

@keyframes marquee {
    0% {
      transform: translate(100%);
    }
    100% {
      transform: translate(-100%);
    }
  }
  
  .animate-marquee {
    animation: marquee 10s linear infinite;
  }

  .b-link{
    animation {
        opacity: 0.231812;
    }
  }
  ::-webkit-scrollbar{
    @apply hidden
  }

 

  .top-doctors{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  }